<contract>
  <screen title="Contract">
    <p class="mt1 b">The contract JSON according to specification.</p>
  
    <textarea class="w-100 h5 db mv2" value={text()} readonly></textarea>
  </screen>

  <script>
    import Screen from '../screen/screen.riot'

    export default {
      components: {
        Screen
      },
      text() {
        return JSON.stringify(this.props.contract, null, '    ')
      }
    }
  </script>
</contract>